* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccd3db;
}

.container {
    max-width: 1140px;
    margin: auto;
    height: auto;
}

.title {
    text-align: center;
}

.title h1 {
    max-width: 797px;
    font-size: 3rem;
    line-height: 1.1;
    color: #148ba9;
    margin: 36px auto 0;
}

.title p {
    font-style: italic;
    margin: 20px 0 0;
    color: #111111;
    font-size: 1rem;
    line-height: 1.6;
}

.card {
    width: 100%;
    height: 301px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
}

.card .card_img svg {
    width: 38px;
    height: 38px;
    fill: #148ba9;
}

.card .card_text h2 {
    color: #148ba9;
    font-size: 1.5rem;
    margin: 21px auto 0;
}

.card .card_text p {
    font-size: 1rem;
    line-height: 1.6;
    font-style: italic;
    margin: 17px 0 0;
    color: #808080;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 368px 368px 368px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}